# To get the API key, you need to sign up at https://api-ninjas.com/ and go to your profile(https://api-ninjas.com/profile) to get the API key and paste it here.

API_NINJAS_API_KEY='YOUR_SUPER_SECRET_API_KEY'

# To get the Unsplash access key, you need to sign up at https://unsplash.com/developers and create a new application to get the access key and paste it here.

UNSPLASH_ACCESS_KEY=YOUR_UNSPLASH_ACCESS_KEY